{% load avatar_tags %}
<div class="task-comment">
<div class="d-flex justify-content-between">
    <div>Added by {% avatar comment.author 20 class="img-circle img-responsive comment-avatar" %} {{ comment.author.get_full_name }} </div>
    <div>{{ comment.comment_date|date:"Y-m-d H:i" }}</div>
</div>
    <div class="comment-text">{{ comment.comment|safe }}</div>
</div>