{% if not tasks %}
    <p class="font-italic">There is no tasks yet</p>
{% endif %}

<div class="table-responsive">
        <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col">Priority</th>
                <th scope="col">Subject</th>
                <th scope="col">Author</th>
                <th scope="col">Assigned to</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

        {% for task in tasks %}
            <tr>
                <td><a href="{{ task.get_absolute_url }}">{{ task.pk }}</a></td>
                <td>{{ task.get_status_display }}</td>
                <td>{{ task.get_priority_display }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.creator.get_full_name }}</td>
                <td>{{ task.assigned_to.get_full_name|default_if_none:"-" }}</td>
                <td><a href="{% url 'edit_task' slug=task.slug%}">edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>