body {
    font-size: .8rem;
}

.navbar-dark .navbar-nav a.nav-link {
    color: #FFF;
    font-size: .9rem;
}

.navbar {
    margin-bottom: 20px;
}

.create-button {
    margin: 20px;
}

.profile-link img, .img-circle {
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.comment-avatar {
    margin-left: 2px;
}

.profile-link {
    padding: 0;
}

.task-comment {
    border: #DDD solid 1px;
    margin: 2px;
    padding: 5px;
}

.comment-text {
    margin: 5px;
}

.task-info span {
    font-weight: bold;
}