{% load static %}
{% load avatar_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title %}{{ title }} — {% endif %}TimeTracking</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap4.3.1.min.css' %}">
    <script src="{% static 'js/jquery3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper1.14.7.min.js' %}"></script>
    <script src="{% static 'js/bootstrap4.3.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'jqueryui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'jqueryui/jquery-ui.theme.min.css' %}">
    <script src="{% static 'jqueryui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'home' %}">TimeTracking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
  {% if user.is_authenticated %}
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'project_list' %}">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'task_list' %}">Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'timelog' %}">Time log</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_list' %}">Users</a>
      </li>
{% endif %}
    </ul>
  <ul class="nav navbar-nav ml-auto">
  {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link profile-link" href="{% url 'profile' %}">{% avatar user 30 class="img-circle img-responsive" id="user_avatar" %}</a>
    </li>
  {% endif %}
      <li class="nav-item">
          {% if user.is_authenticated %}

        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          {% else %}
        <a class="nav-link" href="{% url 'login' %}">Login</a>
          {% endif %}
      </li>
  </ul>
  </div>

</nav>
<div class="container" id="main-content">
{% block content %}
{% endblock %}
</div>
</body>
</html>
