{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="container">
    <div class="row">
        <form method="post">
        {% csrf_token %}
            {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Save">
        </form>
    {{ form.media }}
    </div>
    </div>
{% endblock %}