{% extends 'base.html' %}
{% load bootstrap_pagination %}
{% load crispy_forms_filters %}
{% load avatar_tags %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Profile Settings</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary">
        </form>
        </div>
        {% if avatar_form %}
        <div class="col-md-6">
        <h4>Avatar</h4>
        {% avatar object 80 %}
        <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
            {% csrf_token %}
            {{ avatar_form|crispy }}
            <input type="submit" class="btn btn-primary" value="Change">
        </form>
        </div>
        {% endif %}
    </div>
    </div>
{% endblock %}