{% extends 'base.html' %}
{% block content %}
    <div class="d-flex justify-content-between">
        <h3>{{ object.name }}</h3>
        {% if user.is_staff %}
        <a href="{% url 'update_project' slug=object.slug %}">Edit</a>
        {% endif %}
    </div>
    <p>{{ object.description|safe }}</p>
    {% if user.is_staff %}
    <a href="{% url 'create_task' project_pk=object.pk %}" class="btn btn-primary create-button">Create task</a>
    {% endif %}
    <h4>Tasks</h4>

    {% include 'tasks/parts/task_list.html' with tasks=tasks %}
{% endblock %}