{% extends 'base.html' %}
{% block content %}
    <h2>Project list</h2>
    {% if user.is_staff %}
        <a href="{% url 'create_project' %}" class="btn btn-primary create-button">Create project</a>
    {% endif %}
    <ul class="list-group">
    {% for object in object_list %}
        <li class="mb-1 list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h4><a href="{{ object.get_absolute_url }}" >{{ object.name }}</a></h4>
              <small>Created: {{ object.created_date|date:"Y-m-d H:i" }}</small>
            </div>
        <p>{{ object.description|safe }}</p>
        </li>
    {% endfor %}
    </ul>
{% endblock %}