{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load avatar_tags %}
{% block content %}
    <div class="container">
    <div class="d-flex justify-content-between">
        <h3>{{ object.name }}</h3>
        <a href="{% url 'edit_task' slug=object.slug %}">Edit</a>
    </div>
    <div class="row task-info">
        <div class="col-md-4"><span>Project:</span> <a href="{{ object.project.get_absolute_url }}"></a>{{ object.project }}</div>
        <div class="col-md-4"><span>Status:</span> {{ object.get_status_display }}</div>
        <div class="col-md-4"><span>Type:</span> {{ object.get_type_display }}</div>
        <div class="col-md-4"><span>Created:</span> {% avatar object.creator 20 class="img-circle img-responsive comment-avatar" %} {{ object.creator.get_full_name }} {{ object.created_date|date:"Y-m-d H:i:s" }}</div>
        <div class="col-md-4"><span>Assigned to:</span>{% if object.assigned_to %} {% avatar object.assigned_to 20 class="img-circle img-responsive comment-avatar" %}{% endif %} {{ object.assigned_to.get_full_name|default_if_none:"-" }}</div>
        <div class="col-md-4"><span>Spent time:</span> {{ spent_time }}hr{{ spent_time|pluralize }}.</div>
    </div>
    <div class="task-description">
        <p>{{ object.description|safe }}</p>
    </div>
    <div class="task-tracked-time">
        <div class="d-flex justify-content-between">
        <h5>Logged time</h5>
        {% if object.assigned_to == user or user.is_staff %}
            <a href="#" data-toggle="modal" data-target="#exampleModal">Log time</a>
        {% endif %}
        </div>

        <div class="table-responsive">
            <table class="table time-log">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Time</th>
                    <th>Comment</th>
                    <th>Date</th>
                    <th>Log created</th>
                </tr>
                </thead>
                <tbody>
                {% for log in object.time_logs.all %}
                <tr>
                    <td>{{ log.author }}</td>
                    <td>{{ log.time }}hr{{ log.time|pluralize }}</td>
                    <td>{{ log.comment }}</td>
                    <td>{{ log.date }}</td>
                    <td>{{ log.created_date }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
        <hr>
        <h5>Comments</h5>
        {% for comment in object.comments.all %}
            {% include 'tasks/parts/comment.html' %}
        {% endfor %}
    <div class="">
        <form action="{% url 'add_comment' task_pk=object.pk %}" id="add-comment" method="post">
        <h5>Add comment</h5>
        {% csrf_token %}
        {{ comment_form|crispy }}
        <input type="submit" value="Add comment" class="btn btn-primary">
        </form>
        {{ comment_form.media }}
    </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log Time</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'log_time' task_pk=object.pk %}" method="post" id="add-log-form">
              <div class="alert-danger alert d-none" id="log-form-errors"></div>
              {% csrf_token %}
              {{ log_form|crispy }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="submit-log">Log time</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}