{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <div class="alert alert-danger d-flex justify-content-between">
        <h5>A you sure want to delete this timelog?</h5>
    <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger">
    </form>
    </div>
    </div>
{% endblock %}