{% extends 'base.html' %}
{% load bootstrap_pagination %}
{% block content %}
    <h2>Time log</h2>
<div class="table-responsive">
    <table class="table time-log">
        <thead>
        <tr>
            <th>User</th>
            <th>Task</th>
            <th>Time</th>
            <th>Comment</th>
            <th>Date</th>
            <th>Log created</th>
            {% if user.is_staff %}<th></th>{% endif %}
        </tr>
        </thead>
        <tbody>
        {% for log in object_list %}
        <tr data-id="{{ log.id }}">
            <td>{{ log.author.get_full_name }}</td>
            <td><a href="{{ log.task.get_absolute_url }}">{{ log.task.name }} (#{{ log.task.pk }})</a></td>
            <td>{{ log.time }}hr{{ log.time|pluralize }}</td>
            <td>{{ log.comment }}</td>
            <td>{{ log.date }}</td>
            <td>{{ log.created_date }}</td>
            {% if user.is_staff %}<td><a href="{% url 'timelog_delete' pk=log.pk %}" class="remove-log">x</a></td>{% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% bootstrap_paginate page_obj %}
</div>
{% if user.is_staff %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% csrf_token %}
        <h4>Are you sure to remove this log?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="remove-log-modal">Yes</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}