{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2>Users</h2>
    {% if user.is_staff %}
    <a href="{% url 'add_user' %}" class="btn btn-primary create-button">Add user</a>
    {% endif %}
    <div class="table-responsive">
        <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Full Name</th>
                <th scope="col">Admin?</th>
                <th scope="col">Position</th>
                <th scope="col">Birthday</th>
                {% if user.is_staff %}<th scope="col">Last login</th>{% endif %}
            </tr>
        </thead>
        <tbody>
    {% for object in object_list %}
        <tr>
            <td>{% if user.is_staff %}<a href="{% url 'other_profile' user=object.id %}">{{ object.pk }}</a>{% else %}{{ object.pk }}{% endif %}</td>
            <td>{{ object.username }}</td>
            <td>{{ object.email }}</td>
            <td>{{ object.get_full_name }}</td>
            <td>{% if object.is_staff %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="Yes">{% endif %}</td>
            <td>{{ object.position|default_if_none:"" }}</td>
            <td>{{ object.birhday }}</td>
            {% if user.is_staff %}<td>{{ object.last_login|default_if_none:"" }}</td>{% endif %}
        </tr>
    {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}